body{
  background-color: black;
}
body::-webkit-scrollbar{
  display: none;
}
button{
  font-weight: bolder !important;
}
.hover-effect{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  overflow: hidden;
  transition: 0.7 ease-in;

}

.hover-effect img{

width: 100%;
height: 100%;
transition:  transform 0.7s ease;
transform: translateZ(0);

}

.hover-effect:hover img{

  transform: scale(1.1)  translateZ(50px);

}